/* Center the edit card */
.profile-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9fafb;
  position: relative;
}

/* Back button on top-left corner */
.back-button {
 width: 100%;
  padding: 10px 0;
  background-color: #11111b;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 2px;
}

.back-button:hover {
  background-color: #1e1e2f;
}

/* Profile Edit card styling */
.profile-edit-card {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: left;
}

.profile-edit-card h2 {
  color: #111;
  margin-bottom: 0.5rem;
}

.profile-edit-card p {
  color: #6b7280;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.profile-edit-card label {
  display: block;
  color: #374151;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.profile-edit-card input {
  width: 92%;
  padding: 10px 12px;
  margin-bottom: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f9fafb;
  font-size: 0.95rem;
  color: #374151;
}

.profile-edit-card input:focus {
  outline: none;
  border-color: #4f46e5;
  background-color: #fff;
}

/* Update button styling */
.update-button {
  width: 100%;
  padding: 10px 0;
  background-color: #11111b;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 2px;
}

.update-button:hover {
  background-color: #1e1e2f;
}
